@{
    ViewData["Title"] = "Account Management";
}

<div class="text-center">
	<h1 class="display-4">Manage Your Account</h1>
	<div class="p-3" style="border-radius: 15px;">
		<h4>Membership Details</h4>
		<em>View and manage your subscription below</em>
		<hr />
		<table class="table">
			<tr>
				<td><b>Premium Plan</b></td>
				<td>Last Billed: January 01, 2024</td>
				<td>Renewal Date: September 19, 2024</td>
				<td style="color:green;"><b>Active</b></td>
			</tr>
			<tr>
				<td><b>Basic Plan</b></td>
				<td></td>
				<td></td>
				<td style="color:red;"><b>Inactive</b></td>
			</tr>
			<tr>
				<td><b>VIP</b></td>
				<td></td>
				<td></td>
				<td style="color:red;"><b>Inactive</b></td>
			</tr>
		</table>
		<button id="btnCancel" class="btn btn-primary m-2" type="button" title="Click to cancel your subscription">Cancel Subscription</button>
	</div>
</div>